<span class="preheader"
  >Şifrenizi sıfırlamak için bu bağlantıyı kullanın. Bağlantı yalnızca 24 saat
  boyunca geçerlidir.
</span>
<table
  class="email-wrapper"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <tr>
    <td align="center">
      <table
        class="email-content"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td class="email-masthead">
            <a
              href="https://moniesto-bd2f6.web.app"
              class="f-fallback email-masthead_name"
            >
              <span class="title-first-letter">m</span
              ><span class="title-rest-letters">oniesto</span>
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="570" cellpadding="0" cellspacing="0">
            <table
              class="email-body_inner"
              align="center"
              width="570"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <div class="f-fallback">
                    <h1>Merhaba {{.Name}},</h1>
                    <p>
                      <span class="title-first-letter">M</span
                      ><span>oniesto</span> hesabınızdaki şifrenizi sıfırlamak
                      için bir istekte bulundunuz. Aşağıdaki butonu kullanarak
                      şifrenizi sıfırlayabilirsiniz.
                      <strong
                        >Bu şifre sıfırlama işlemi yalnızca önümüzdeki 24 saat
                        boyunca geçerlidir.
                      </strong>
                    </p>
                    <!-- Action -->
                    <table
                      class="body-action"
                      align="center"
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                    >
                      <tr>
                        <td align="center">
                          <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                          <table
                            width="100%"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            role="presentation"
                          >
                            <tr>
                              <td align="center">
                                <a
                                  href="{{.ActionUrl}}"
                                  class="f-fallback button button--green"
                                  target="_blank"
                                  >Şifrenizi Sıfırlayın</a
                                >
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p>
                      Eğer şifre sıfırlama isteği göndermediyseniz, lütfen bu
                      e-postayı görmezden gelin.
                    </p>
                    <p>
                      Teşekkürler, <br />
                      <span class="title-first-letter">M</span
                      ><span>oniesto</span>
                      Ekibi
                    </p>
                    <!-- Sub copy -->
                    <table class="body-sub" role="presentation">
                      <tr>
                        <td>
                          <p class="f-fallback sub">
                            Yukarıdaki butonla ilgili sorun yaşıyorsanız,
                            aşağıdaki URL'i web tarayıcınıza kopyalayıp
                            yapıştırabilirsiniz.
                          </p>
                          <p class="f-fallback sub">{{.ActionUrl}}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
