<span class="preheader">Moniesto yeni bir aboneniz var.</span>
<table
  class="email-wrapper"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <tr>
    <td align="center">
      <table
        class="email-content"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td class="email-masthead">
            <a
              href="https://moniesto.com"
              class="f-fallback email-masthead_name"
            >
              <span class="title-first-letter">m</span
              ><span class="title-rest-letters">oniesto</span>
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="570" cellpadding="0" cellspacing="0">
            <table
              class="email-body_inner"
              align="center"
              width="570"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <div class="f-fallback">
                    <h1>Merhaba {{.NameMoniest}},</h1>
                    <p>
                      Kullanıcımız {{.NameUser}}(
                      <strong>{{.Username}}</strong> ), {{.Subscription_Date}}
                      tarihinde size abone oldu.
                    </p>
                    <!-- Action -->
                    <table
                      class="body-action"
                      align="center"
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                    >
                      <tr>
                        <td>
                          <h2>Abonelik Detayı</h2>
                          <table class="detail-table">
                            <tr>
                              <td align="start">Abone</td>
                              <td align="end">{{.NameUser}}({{.Username}})</td>
                            </tr>
                            <tr>
                              <td align="start">Abonelik Başlangıç Tarihi</td>
                              <td align="end">{{.SubscriptionStartDate}}</td>
                            </tr>
                            <tr>
                              <td align="start">Abonelik Bitiş Tarihi</td>
                              <td align="end">{{.SubscriptionEndDate}}</td>
                            </tr>
                            <tr>
                              <td align="start">Aylık Abonelik Ücreti</td>
                              <td align="end">{{.SubscriptionFee}} $</td>
                            </tr>
                            <tr>
                              <td align="start">Abonelik Süresi (Ay)</td>
                              <td align="end">{{.SubscriptionMonth}}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p>
                      Abonelik ücreti her ay sistemde kayıtlı olan Binance
                      hesabınıza gönderilecektir.
                    </p>
                    <p>
                      Değerli katkınız için teşekkür ederiz. Profesyonel
                      işbirliğimizin devam etmesini diler, gelecekteki
                      başarınızı bekleriz.
                    </p>
                    <p>
                      Teşekkürler, <br />
                      <span class="title-first-letter">M</span
                      ><span>oniesto</span>
                      Ekibi
                    </p>
                    <!-- Sub copy -->
                    <table class="body-sub" role="presentation">
                      <tr>
                        <td>
                          <p class="f-fallback sub">
                            Herhangi bir sorunuz veya sorununuz olması
                            durumunda, lütfen official@moniesto.com adresinden
                            bizimle iletişime geçmekten çekinmeyin.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
