<span class="preheader"
  >Akıllıca Yatırım Yap | Kripto Para Yatırımlarına Yön Ver.</span
>

<table
  class="email-wrapper"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <tr>
    <td align="center">
      <table
        class="email-content"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td class="email-masthead">
            <a
              href="https://moniesto-bd2f6.web.app"
              class="f-fallback email-masthead_name"
            >
              <span class="title-first-letter">m</span
              ><span class="title-rest-letters">oniesto</span>
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="570" cellpadding="0" cellspacing="0">
            <table
              class="email-body_inner"
              align="center"
              width="570"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <div class="f-fallback">
                    <h1>Sevgili {{.Name}},</h1>
                    <p>
                      <span class="title-first-letter">M</span>oniesto'ya hoş
                      geldiniz.

                      <br />
                      <br />

                      <span class="title-first-letter">M</span>oniesto, bilgiye
                      dayalı yatırım kararları almanıza yardımcı olmak için sizi
                      bilgili kripto para borsası analistleri yani "moniest"lar
                      ile buluşturan bir platformdur. Sizi aramızda görmekten
                      mutluluk duyuyoruz ve sizi kripto para dünyasının heyecan
                      verici yolculuğunda yönlendirmek için sabırsızlanıyoruz.
                    </p>

                    <!-- Action -->
                    <table
                      class="body-action"
                      align="center"
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                    >
                      <tr>
                        <td align="center">
                          <!-- Border based button
                               https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                          <table
                            width="100%"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            role="presentation"
                          >
                            <tr>
                              <td align="center">
                                <a
                                  href="{{.ActionUrl}}"
                                  class="f-fallback button button--green"
                                  target="_blank"
                                  >Keşfetmeye Başla</a
                                >
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <p>
                      <span class="title-first-letter">M</span
                      ><span>oniesto</span> kullanıcısı olarak, deneyimli ve
                      bilgili moniest ağına erişim sağlayacaksınız. Bu
                      moniestler size kripto para birimi fiyatları hakkında özel
                      içgörüler, analizler ve tahminler sunabilirler. Yatırım
                      hedeflerinizle uyumlu gördüğünüz moniestleri inceleyebilir
                      ve onlara abone olabilirsiniz. Bu sayede daha bilinçli
                      kararlar almanıza yardımcı olacak değerli bilgiler
                      edinebilirsiniz.
                    </p>

                    <p>
                      <span class="title-first-letter">M</span>oniesto'da,
                      yatırım kararlarınızda hangi moniest'lara güveneceğinizi
                      bilmenin zor olabileceğini anlıyoruz. Bu nedenle
                      moniest'larin tahminlerinin doğruluğunu değerlendiren ve
                      performanslarına göre sıralama yapan benzersiz bir
                      puanlama algoritması geliştirdik. Bir moniestin
                      <strong
                        >performans puanını, geçmiş tahminlerini, başarı veya
                        başarısızlık durumunu</strong
                      >
                      abone olmadan görüntüleyebilirsiniz. Bu şekilde hangi
                      moniest'lara abone olmanız gerektiği konusunda bilinçli
                      bir karar verebilirsiniz.
                    </p>

                    <p>
                      Aynı zamanda kendiniz de bir moniest olma ve para kazanma
                      fırsatına sahipsiniz! Bilgi ve deneyimlerinizi
                      abonelerinizle paylaşarak bilinçli yatırım kararları
                      vermelerine yardımcı olabilirsiniz.
                    </p>

                    <p>
                      Kripto finansal bilgilendirme kaynağınız olarak
                      <span class="title-first-letter">M</span>oniesto'yu
                      seçtiğiniz için teşekkür ederiz. Sizi topluluğumuzun bir
                      üyesi olarak görmekten mutluluk duyuyoruz ve yatırım
                      hedeflerinize ulaşmanıza yardımcı olmayı dört gözle
                      bekliyoruz.
                    </p>

                    <p>
                      Saygılarımızla, <br />
                      <span class="title-first-letter">M</span
                      ><span>oniesto</span>
                      Ekibi
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
